node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.expo/
.expo-shared/
.expo-dev/
.expo-web/
.expo-cache/
.expo/*
.expo-shared/*
.expo
.haul
.DS_Store
Thumbs.db
android/app/build/
ios/build/
ios/Pods/
build/
dist/
.bundle/
coverage/
__tests__/coverage/
.watchmanconfig
.eslintcache
.prettiercache
.vscode/
.idea/
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*.local
